<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <form action="http://127.0.0.1:8080/add">
        <input type="submit" value="Add user" />
    </form>
    <form action="http://127.0.0.1:8080/read">
        <input type="submit" value="Show user" />
    </form>
    <form action="http://127.0.0.1:8080/update.html">
        <input type="submit" value="Update user" />
    </form>
    <form action="http://127.0.0.1:8080/delete">
        <input type="submit" value="Delete user" />
    </form>
</div>

</body>
</html>