<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action = "http://127.0.0.1:8080/update" method = "post">
         <p>Enter Email:</p>
         <p><input type = "text" name = "email" /></p>

        <p>Enter New Email:</p>
         <p><input type = "text" name = "new_email" /></p>

        <p>Enter New Name:</p>
         <p><input type = "text" name = "new_name" /></p>

        <p><input type = "submit" value = "submit" /></p>
</form>
</body>
</html>